__pycache__/
_book
_novel
.discord_bot_output/
.DS_Store
.env
.idea/
.pyi/
.telegram_bot_output/
.venv/
.vscode
*.egg-info
*.log
*.pyc
*.pyo
/.tox
/lightnovel-crawler-*
/logs
/sqlite.db
/test.py
/venv*/
build
bundle
client_secrets.json
dist
env
geckodriver.log
Lightnovels/
mycreds.txt
node_modules
package.json
save_pid.txt
Test Novel
windows/
yarn.lock
