*.pyc
_novel
_book
geckodriver.log
build
dist
*.egg-info
Test Novel
.vscode
bundle
env
.env
Lightnovels/
windows/
.pyi/
.telegram_bot_output/
.discord_bot_output/
mycreds.txt
/venv*/
*.log
save_pid.txt
/.tox
/logs
client_secrets.json
/lightnovel-crawler-*
__pycache__/
.idea/
/test.py
