-i https://pypi.python.org/simple
aiohttp==3.6.2; python_full_version >= '3.5.3'
altgraph==0.17
apipkg==1.5; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
appdirs==1.4.4
async-timeout==3.0.1; python_full_version >= '3.5.3'
attrs==19.3.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
autopep8==1.5.3
certifi==2020.4.5.2
cffi==1.14.0
chardet==3.0.4
colorama==0.4.3; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
coverage==5.1
coveralls==2.0.0
cryptography==2.9.2; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
decorator==4.4.2
discord.py==1.3.3
distlib==0.3.0
docopt==0.6.2
execnet==1.7.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
filelock==3.0.12
flake8==3.8.3
future==0.18.2; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2, 3.3'
idna==2.9; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
mccabe==0.6.1
more-itertools==8.4.0; python_version >= '3.5'
multidict==4.7.6; python_version >= '3.5'
packaging==20.4; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pathtools==0.1.2
pluggy==0.13.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
polling==0.3.1
py==1.8.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pycodestyle==2.6.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pycparser==2.20; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pyflakes==2.2.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pyinstaller==3.6
pyparsing==2.4.7; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2, 3.3'
pytest-cov==2.10.0
pytest-env==0.6.2
pytest-forked==1.1.3
pytest-timeout==1.4.0
pytest-watch==4.2.0
pytest-xdist==1.32.0
pytest==5.4.3
python-telegram-bot==12.7
requests==2.23.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
responses==0.10.15
six==1.15.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
toml==0.10.1
tornado==6.0.4; python_version >= '3.5'
tox==3.15.2
urllib3==1.25.9; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4' and python_version < '4'
virtualenv==20.0.23; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
watchdog==0.10.2
wcwidth==0.2.4
websockets==8.1; python_full_version >= '3.6.1'
yarl==1.4.2; python_version >= '3.5'
