# app requirements
ascii
regex
packaging
python-dotenv>=0.15.0,<1.0.0
beautifulsoup4>=4.8.0,<5.0.0
requests>=2.20.0,<3.0.0
python-slugify>=4.0.0,<6.0.0
colorama>=0.4.0,<0.5.0
tqdm>=4.60,<5.0
js2py==0.71
ebooklib>=0.17.0,<1.0.0
pillow>=6.0.0
cloudscraper>=1.2.58
lxml>=4.0.0,<5.0.0
questionary>=1.6.0
prompt-toolkit~=3.0
html5lib~=1.1
base58~=2.1.1
grpcio>=1.40.0,<2.0.0
protobuf>=3.19.0,<4.0.0
