# App requirements
ascii==3.6
win_unicode_console==0.5
python-dotenv==0.15.0,<1.0.0
beautifulsoup4>=4.9.0,<5.0.0
requests>=2.20.0,<3.0.0
python-slugify>=4.0.0,<5.0.0
cssutils>=1.0.0,<1.1.0
PyInquirer==1.0.3
colorama>=0.4.0<0.5.0
progress==1.5
Js2Py==0.70
EbookLib>=0.17.0,<1.0.0
pillow>=6.0.0
cloudscraper>=1.2.48
lxml>=4.0.0,<5.0.0

# Bot requirements
discord.py>=1.5.0
python-telegram-bot>=12.8
pydrive>=1.2.0
