# App requirements
beautifulsoup4==4.6.3
EbookLib==0.17
requests==2.21.0
PyInquirer==1.0.3
progress==1.4
Js2Py==0.59
colorama==0.4.1
python-docx==0.8.10
python-dotenv==0.10.1
python-slugify==2.0.1
WeasyPrint==45

# Bot requirements
python-telegram-bot==11.1.0
discord.py==1.2.3
PyDrive==1.2.1
