img {
  width: 100%;
  object-fit: contain;
  object-position: center;
}

p + br,
br + br {
  display: none;
}

#volume {
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#intro h1 {
  opacity: 1;
  margin-bottom: 7px;
  letter-spacing: 0.4;
}
#intro h3 {
  opacity: 0.6;
  margin-top: 0;
  letter-spacing: 0.25;
}
#intro .synopsis {
  margin: 15px 0;
  letter-spacing: 0.2;
}
#intro .footer {
  opacity: 0.8;
}
