/*
This file must validate as CSS 2.01 with absolutely no errors
+ http://jigsaw.w3.org/css-validator/
+ http://idpf.org/epub/20/spec/OPS_2.0.1_draft.htm#Section3.0

Name: Jackson EPUB
Description: Named after Shirley Jackson, this theme is built for horror, romance, and gothic books, but can also work well with memoirs and literary non-fiction.
Version: 1.0
Author: PressBooks (Book Oven Inc.)
Author URI: http://pressbooks.com
Copyright 2011-2013 Book Oven Inc. (PressBooks.com) support@pressbooks.com
*/




/* PRESSBOOKS EPUB FALL-BACK STYLESHEET FOR VARIOUS SPECIAL THINGS 
in development
copyright 2013-2014 Book Oven Inc. */

/* HEADERS */

h1, h2, h3, h4, h5, h6 {
	hyphens: none;
	-webkit-hyphens: none;
}

h1.front-matter-title,
h1.part-title,
h2.chapter-title,
h1.back-matter-title {
	hyphens: none;
	-webkit-hyphens: none;
}

/* DISPLAY NONE 
IN VARIOUS CIRCUMSTANCES 
========================= */

.display-none {
	display: none;
}

/* this ONLY works/is declared in EPUB, ignored in MOBI & PDF */

.epub-display-none {
    display:none; 
}
.web-only {
  display: none;
}
.pdf-only {
  display: none;
}

/* This is used in the PDF to generate a short chapter title for running headers 
in the case that the chapter title is too long. It's spurious in the EPUB, should always be
display: none; */

h6.short-title {
  display: none;
}

.part.invisible {
	display: none;
}

div.chapter.numberless h3.chapter-number {
	display: none;
}

/* Blank page ... this is to add a blank page in PDF ... can;'t think of a case it is wanted in EPUB.
hrm.  */

div.blank-page {
  display:none;
}

/* SECTION BREAKS */

div.ugc > h3.section-break {
  text-align: center;
  text-indent: 0;
  margin-top: 1em;
  margin-bottom: 1em;
}

div.ugc > h3.section-break-space {
   visibility: hidden;
   text-align: center;
   text-indent: 0;
   margin-top: 0;
   margin-bottom: 0;
}

div.ugc > h3.section-break-page {
  text-align: center;
  text-indent: 0;
  margin-top: 1em;
  margin-bottom: 1em;
  page-break-after: always;
}

/* PAGE-BREAKS */
.page-break-after {
  page-break-after: always;
}

.page-break-before {
  page-break-before: always;
}

div.ugc > p.no-indent, 
p.no-indent {
  margin-top: 1em !important;
  text-indent: 0 !important;
}

sup,
sup.footnote {
  font-size: 0.8em;
  line-height: 1;
}


/* FONTS */
@font-face {
  font-family: "Medula One";
  font-weight: normal;
  font-style: normal;
  src: url(assets/MedulaOne-Regular.ttf) format("truetype");
}

/* GENERAL DEFAULT STYLES
===========================	*/

body {
	font-family: serif;
	line-height: 1.4em;
}

a {
	text-decoration: none;
}

/* BODY HEADINGS
================= */

h1, h2, h3, h4, h5, h6 {
	font-family:  "Medula One", "Palatino", "Baskerville", "Georgia", serif;
	line-height: 1.3em;
	margin-top: 1em;
	margin-bottom: 0.5em;
	font-weight: normal;
	text-indent: 0;
	text-align: center;
	letter-spacing: 1px;
	word-spacing: 2px;
	hyphens: none;
	-webkit-hypens: none;
    page-break-after: avoid;
}

div.ugc > h1 {
    font-size: 1.5em;
    letter-spacing: 1px;
	word-spacing: 2px;
	page-break-after: avoid;
	hyphens: none;
	-webkit-hypens: none;
}


 div.ugc > h2 {
 	font-size: 1.4em;
 	letter-spacing: 1px;
	word-spacing: 2px;
	page-break-after: avoid;
	hyphens: none;
	-webkit-hypens: none;
}

div.ugc > h3 {
	font-size: 1.3em;
	letter-spacing: 1px;
	word-spacing: 2px;
	page-break-after: avoid;
	hyphens: none;
	-webkit-hypens: none;
}

div.ugc > h4  {
	font-size: 1.2em;
	letter-spacing: 1px;
	word-spacing: 2px;
	page-break-after: avoid;
	hyphens: none;
	-webkit-hypens: none;
}

div.ugc > h5 {
	font-size: 1.1em;
	letter-spacing: 1px;
	word-spacing: 2px;
	page-break-after: avoid;
	hyphens: none;
	-webkit-hypens: none;
}

div.ugc > h6 {
	font-size: 1em;
	letter-spacing: 1px;
	word-spacing: 2px;
	page-break-after: avoid;
	hyphens: none;
	-webkit-hypens: none;
}


div.ugc h1 + p,
div.ugc h2 + p,
div.ugc h3 + p,
div.ugc h4 + p,
div.ugc h5 + p 
div.ugc h6 + p {
	margin-top: 0;
	text-indent: 0;
}


/*  PARAGRAPHS & BODY TEXT 
 ========================== */
p {
	font-family: serif;
	line-height: 1.4em;
	margin: 0;
	text-align: left;
	text-indent: 1.5em;
}

p + p {
	text-indent: 1.5em;
	margin-top: 0;
}

div.ugc p.indent {
	line-height: 1.4em;
	margin: 0;
	text-align: left;
	text-indent: 1.5em;
}

div.ugc p.nonindent,
p.nonindent,
.nonindent   {
	line-height: 1.4em;
	margin: 0;
	text-align: left;
	text-indent: 0;
}

p.no-indent,
.no-indent {
	line-height: 1.4em;
	text-align: left;
	text-indent: 0;
	margin-top: 1em;
}

div.front-matter p.no-indent,
.no-indent {
	line-height: 1.4em;
	text-align: left;
	text-indent: 0;
	margin-top: 1em;
}

p.hanging-indent,
.hanging-indent {
	line-height: 1.4em;
	text-align: left;
	text-indent: 0;
	margin: 0;
	padding-left: 1em;
    text-indent: -1em;
}


/* TABLES */

table {
	font-family: "Ariel", sans-serif;
	font-size: 0.8em;
	display: block;
	margin: 25px 0;
	page-break-inside: avoid;
}
table caption {
	font-family: "Ariel", sans-serif;
	font-size: 0.8em;
	font-size: 0.7em;
	text-align: left;
}
table caption span {
    font-family: "Ariel", sans-serif;
	font-size: 0.8em;
	font-style: italic;
}
thead th {
	font-family: "Ariel", sans-serif;
	font-size: 0.8em;
	font-weight: lighter;
}
thead th span {
	font-family: "Ariel", sans-serif;
	font-size: 0.8em;
	font-family: sans-serif;		
	font-weight: bold;	
}
table span {
	font-family: "Ariel", sans-serif;
	font-size: 0.8em;
	font-weight: bold;
}
td {
	font-family: "Ariel", sans-serif;
	font-size: 0.8em;
	border-bottom: 1px dotted #000;
	padding: 5px;
}

/* DEFINITION LISTS */

dt {
	font-weight: lighter;
	font-size: 0.9em;
	color: #0197B2;
	text-transform: uppercase;
	margin: 20px 0;
}

dd {
	font-weight: lighter;
	font-style: italic;
	font-size: 0.85em;
	margin: 20px 0;
}

dt, dd {
	display: inline;
	margin: 0;
}
dd:after {
	content: "\A";
	white-space: pre;
}

/* ORDERED AND UNORDERED LISTS */


ul {
	margin-left: 1em;
	padding-left: 1em;
}

ol {
	margin-left: 1em;
	padding-left: 1em;
}

div.ucg p + ul {
	margin-top: 1em;
}

div.ucg p + ol {
	margin-top: 1em;
}



/* BLOCKQUOTES */

.blockquote,
blockquote {
	font-size: 0.9em;
	margin: 1em 3em 1em 3em;
}

.bq_2,
blockquote.bq_2 {
	font-size: 0.9em;
	font-style: italic;
 	margin: 1em 3em 1em 3em;
}

p.bl_nonindent {
	margin: 0 1em 0;
	text-indent: 0;
}
p.bl_indent {
	margin: 0 1em 0;
	text-indent: 1.5em;
}


/* SEPARATORS */

hr {
	margin: 10px auto;
	text-align: center;
	width: 20%;
}

hr.break-symbols, 
hr.break-symbol {
	border: none;
	font-size: 1.1em;
    margin-bottom: 20px;
}
hr.break-symbols::after,
hr.break-symbol::after {
	display: block;
	content: "\066D";
	text-align: center;
}

h3.section-break {
	text-align: center;
	text-indent: 0;
	margin-top: 1em;
	margin-bottom: 1em;
}

h3.section-page-page {
	text-align: center;
	text-indent: 0;
	margin-top: 1em;
	margin-bottom: 1em;
	page-break-after: always;
}

h3.section-break-blank {
    visibility: hidden; 
  	text-align: center;
	text-indent: 0;
	margin-top: 0;
	margin-bottom: 0;
}


/* SPECIAL */

cite {
	font-weight: normal;
}


span.uppercase_decoration {
	color: #0197B2;
	text-transform: uppercase;
}


/* TITLE PAGE
================ */




#title-page h1.title {
	font-family:  "Medula One", "Palatino", "Baskerville", "Georgia", serif;
	font-size: 3em;
	margin-top: 2em;
	margin-bottom: 0;
	padding-bottom: 5px;
	text-transform: uppercase;
	text-align: right;
    hyphens: none;  
    -webkit-hypens: none;
}


#title-page h2.subtitle {
	font-family:  "Medula One", "Palatino", "Baskerville", "Georgia", serif;
	font-size: 1.5em;
	margin-top: 0;
	padding-top: 5px;
	text-align: right;
	hyphens: none;	
	-webkit-hypens: none;
}

#title-page h3.author {
	font-family:  "Medula One", "Palatino", "Baskerville", "Georgia", serif;
	font-size: 1.2em;
	font-weight: normal;
	margin-top: 2em;
	text-align: right;
	hyphens: none;
	-webkit-hypens: none;
}

#title-page h4.publisher {
	font-family: "Palatino", "Baskerville", "Georgia", serif;
	float: bottom;
	font-size: .9em;
    margin-bottom: 0;
    margin-top: 2em;    
    text-align: right;
	hyphens: none;
	-webkit-hypens: none;
}

#title-page h5.publisher-city {
	font-family: "Palatino", "Baskerville", "Georgia", serif;
	float: bottom;
	font-size: .875em;
    font-style: italic;
    text-align: right;
    margin-top: 0;
	hyphens: none;
	-webkit-hypens: none;
}

/* FRONT-MATTER STYLING 
======================= */

/* DEDICATION */

div.dedication {
	margin-top: 5em;
    font-style: italic;
	text-align: center;
	text-indent: 0;
}

div.dedication p {
	font-style: italic;
	text-align: center;
	margin-top: 1em;
}

/* EPIGRAPH */

div.epigraph {
	margin-top: 5em;
	margin-right: 10%;
	margin-left: 10%;
}



/* COPYRIGHT */

#copyright-page p {
	font-size: 0.875em;
	text-indent: 0;
	margin-bottom: 0.5em;  
}


/* TABLE OF CONTENTS
======================= */
#toc ul {
	font-size: 0.9em;
	line-height: 1.3em;
	text-align: left;
}
#toc ul, #toc li {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: left;
}
#toc li {
	margin-bottom: 5px;
}
#toc ul .front-matter,
#toc ul .back-matter {
	margin-bottom: 3px;
	font-style: italic;
}


#toc .front-matter {
	font-style: italic;
}

#toc .front-matter .introduction {
	font-style: normal;
}

#toc li.introduction span.toc-chapter-title {
	font-style: normal;
}

#toc .back-matter {
	font-style: italic;
}

#toc .front-matter + .chapter,
#toc .chapter + .back-matter {
	margin-top: 1.3em;
}
#toc a {
	border: none;
	color: inherit;	
	text-align: left;	
}
#toc a:after {
	font-style: normal;
	text-decoration: none;
}
#toc .part  {
	font-size: 1.7em;
	font-family:  "Medula One", "Palatino", "Baskerville", "Georgia", serif;
	letter-spacing: 1px;
	word-spacing: 2px;
	margin: 1.3em 0 0.5em;
}

#toc li.chapter span.toc-chapter-title {
	font-size: 0.9em;
	font-style: normal;
	text-align: left;
}

span.chapter-author {
	display: none;
}

span.chapter-subtitle {
	display: none;
}



/* CHAPTER & PART TITLES:
TITLES, NUMBERS, SUBTITLE, AUTHOR, APHORISM
FONT-MATTER & BACKMATTER 
============================================= */


/* DISPLAY NONE:
REMOVES CHAPTER NUMBERING 
ON FRONT-MATTER + BACK-MATTER TITLES */


.display-none, 
.front-matter-number, 
.back-matter-number {
	display: none;
}

.part-title-wrap h3.part-number {
	display: none;
}

.display-none, 
h3.front-matter-number, 
h3.front-matter-number.dedication, 
h3.back-matter-number {
	display: none;
}


/* TOC TITLE */

#toc h1 {
    font-family:  "Medula One", "Palatino", "Baskerville", "Georgia", serif;
	text-align: right;
	font-size: 2em;
	font-weight: lighter;
	line-height: 1.2em;
	margin-top: 0px;
	hyphens: none;
	-webkit-hyphens: none;
}



/* FRONT-MATTER TITLES */

div.front-matter .front-matter-title-wrap > h1:first-of-type {
	counter-reset: footnote;
}

div.front-matter-title-wrap > h1:first-of-type {
	counter-reset: footnote;
}


div.front-matter-title-wrap {
	font-family:  "Medula One", "Palatino", "Baskerville", "Georgia", serif;
	font-weight: normal;
    margin-bottom: 2.5em;
	margin-top: 3em;	
	hyphens: none;	
	-webkit-hyphens: none;
}

div.front-matter-title-wrap h1.front-matter-title {
    font-family:  "Medula One", "Palatino", "Baskerville", "Georgia", serif;
	text-align: right;
	font-size: 2em;
	font-weight: lighter;
	line-height: 1.2em;
	hyphens: none;
}



/* PART TITLE */

div.part-title-wrap {
    font-family:  "Medula One", "Palatino", "Baskerville", "Georgia", serif;
	margin-top: 2em;	
	margin-bottom: 2em;	
	text-align: right;	
	hyphens: none;
	-webkit-hyphens: none;
}

div.part-title-wrap > h3.part-number {
	font-size: 3em;
	display: inline-block;
	text-align: right;
	font-weight: lighter;
}

div.part-title-wrap > h3.part-number:before { 
	content: "PART "; 
}

div.part-title-wrap > h1.part-title {
	text-transform: uppercase;
	text-align: right;
    font-size: 4em;
	hyphens: none;
	-webkit-hypens: none;
}

/* CHAPTER TITLES */
div.chapter .chapter-title-wrap > h2:first-of-type {
	counter-reset: footnote;
}

div.chapter > h2:first-of-type {
	counter-reset: footnote;
}

div.chapter-title-wrap {
    margin-bottom: 2.5em;
	margin-top: 3em;
	hyphens: none;	
	-webkit-hyphens: none;
}

div.chapter-title-wrap > h3.chapter-number {
    font-family:  "Medula One", "Palatino", "Baskerville", "Georgia", serif;
	text-align: right;
	font-weight: normal;
	font-size: 2em;
	line-height: 1.2em;
	margin-top: -0.5em;
	display: block;
}

div.chapter-title-wrap > h2.chapter-title {
	font-family:  "Medula One", "Palatino", "Baskerville", "Georgia", serif;
	text-align: right;
	font-size: 2em;
	font-weight: lighter;
	line-height: 1.2em;
	hyphens: none;
	-webkit-hyphens: none;
}


div.chapter > div.ugc > h4.short-title:first-of-type {
	visibility: hidden; /* display:none breaks string-set: */
	font-size: 0;
	height: 0;
}



/* CHAPTER SUBTITLES, CHAPTER AUTHOR & APHORIMS  */

h2.chapter-subtitle {
	font-family: "Palatino", "Baskerville", "Georgia", serif;
	text-align: right;
	font-style: italics;
	font-size: 0.7em;
	font-weight: normal;
	margin: -1em 0 2em 0;
	hyphens: none;
	-webkit-hyphens: none;
}

h2.chapter-author {
	font-family: "Palatino", "Baskerville", "Georgia", serif;
	font-size: 0.7em;
	text-align: right;
	font-weight: lighter;
	text-transform: uppercase;
	margin: 2em 0 2em 0;
	hyphens: none;
	-webkit-hyphens: none;
}

.aphorism {
	font-family: "Palatino", "Baskerville", "Georgia", serif;
	font-size: 0.9em;
    margin-top: 0.5em; 
    margin-bottom: 1.5em;
    padding: 0;
    font-style: italic;
    text-align: right;
}

.aphorism cite {
    display: block;
}

.aphorism cite::before {
	content: "–";
}



/* BACK-MATTER TITLES */

div.back-matter .back-matter-title-wrap > h1:first-of-type  {
	counter-reset: footnote;
}


div.back-matter > h1:first-of-type {
	counter-reset: footnote;
}

div.back-matter-title-wrap {
	font-weight: normal;
	margin-bottom: 2.5em;
	margin-top: 3em;		
	hyphens: none;	
	-webkit-hypens: none;
}

div.back-matter-title-wrap > h1.back-matter-title {
	font-family:  "Medula One", "Palatino", "Baskerville", "Georgia", serif;
	text-align: right;
    font-size: 2em;
	font-weight: lighter;
	line-height: 1.2em;
	hyphens: none;
	-webkit-hypens: none;
}

div.back-matter > div.ugc h4.short-title:first-of-type {
	visibility: hidden; /* display:none breaks string-set: */
	font-size: 0;
	height: 0;
}


/* SPECIAL STYLING 
======================= */


/* ASIDES, PULLQUOTES */

aside {
	font-family: "Palatino", "Baskerville", "Georgia", serif;	font-style: italic;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	margin: 2em 10%;
	padding: 10px 0;
	text-indent: 0;
}

.pullquote {
	font-family: "Palatino", "Baskerville", "Georgia", serif;
    border: 1px solid #000;
	border-width: 1px 0;
	margin: 15px 15px 15px 0;
	padding: 5px 0;
	text-align: center;
	width: 45%;
	display: block;
}

.pullquote-left {
	font-family: "Palatino", "Baskerville", "Georgia", serif;
	border: 1px solid #000;
	border-width: 1px 0;
	float: left;
	margin: 15px 15px 15px 0;
	padding: 5px 0;
	text-align: center;
	width: 45%;
}
.pullquote-right {
	font-family: "Palatino", "Baskerville", "Georgia", serif;
	border: 1px solid #000;
	border-width: 1px 0;
	float: right;
	margin: 15px 0 15px 15px;
	padding: 5px 0;
	text-align: center;
	width: 45%;
}  


/* TEXTBOXES & DARK BACKGROUNDS */

div.textbox {
	font-family: "Palatino", "Baskerville", "Georgia", serif;
	border: 1px dotted;
	font-size: 0.95em;
	margin: 2em 2em 2em 2em;
	padding: 2em;
	page-break-before: always;
	
}
div.textbox.shaded {
	background-color: #eee;
}
.textbox p {
	font-family: "Palatino", "Baskerville", "Georgia", serif;
	margin: 10px;
	padding: 10px;
}


div.textbox blockquote,
div.textbox .blockquote {
	font-size: 0.9em;
	font-style: normal;
	padding: 0 0 0 0.1%;
}



div.dark_background { 
	background-color: #EEE;
	border: 1px dotted;
	margin: 2em 0.5em 2em 0.5em;
	padding: 2em;
    page-break-before: always;
}


div.dark_background_border { 
    background-color: #EEE;
    border: 3px double;
    margin: 2em 0.5em 2em 0.5em;
	padding: 2em;
    page-break-before: always;
}


div.dark_background_border blockquote,
div.dark_background_border .blockquote {
	font-size: 0.9em;
	margin: 0 0 0 0;
	font-style: italic;
	border-bottom-style: dotted;
	border-bottom-width: 0.5px;
	padding-bottom: 0.4em;
}

div.dark_background_border cite {
    display: block;
    font-style: normal;
    text-align: right;
    page-break-before: avoid;
}

/* FOOTNOTES  */

.footnotes {
	display: block;	
    font-size: 0.8em;
    margin: 1em 0.5em 2em 2em;
}

.footnotes-wrap {
	list-style: none;
	display: block;
	margin: 10px 10px 10px 40px;
}

.footnotes p + p {
	text-indent: 0;
	text-align: left;
} 

.footnotes .footnotes-wrap p {
}

.footnotes p a {
	display: block;
	text-decoration: none;
}



/* IMAGES 
================== */
img {
	height: auto;
    max-width: 100%;
}
.alignleft {
	float: left;
	margin: 1em 1em 1em 0;
}
.alignright {
	float: right;
	margin: 1em 0 1em 1em;
}

.aligncenter {
	display: block;
	margin: 1em auto;
	text-align: center;     
}


.aligncenter-test {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	height: auto;
}

div.aligncenter {
	display: block;
	margin: 1em auto;
	text-align: center;
}


img.aligncenter {
	display: block;
	margin: 1em auto;
	text-align: center;      
}

img.alignnone {
	display: block;
	margin: 1em auto;
	text-align: center;      
}

div.wp-caption {
	height: auto;        
    max-width: 100%;
 	margin: 1em 0; 
 	padding-left: 5%;
 	padding-right: 5%;
}

div.wp-caption p.wp-caption-text {
	font-family: "Palatino", "Baskerville", "Georgia", serif;
	font-size: 0.875em;
	font-style: normal;
	margin-top: 0.5em;   
	text-align: left; 
}

div.wp-caption.aligncenter,
div.wp-caption.alignleft,
div.wp-caption.alignright,
div.wp-caption.alignnone {
	/* Hack for "centering" problems on Kindle, Calibre, ... */
	width: auto !important;
}

/* BACK-MATTER 
=================*/

div.back-matter .ugc p {
	font-size: 0.9em;
}

div.ugc.back-matter-ugc p {
	margin-bottom: 10px;
	text-indent: 0;
}

/* BIBLIOGRAPHY */

.bibliography p  {
	text-indent: 0;
	margin-bottom: 1em;
}

/* INDEX  */

.index .ugc {
	text-align: left;

}
.index .ugc  div {
	margin-bottom: 4em;
}
.index .ugc  p {
    font-size: 0.9em;
	padding-left: 14pt;
	text-indent: -14pt;
	text-align: left;
}
.index .ugc  p.sub-entry {
	padding-left:30px;
}

/* NOTES */
.notes p {
	text-indent: 0;
	margin-bottom: 1em;
} 

/* DROPCAPS - (NOTE: WRAP FIRST CHAR IN A SPAN) */
.firstcharacter { 
	font-family:  "Medula One", "Palatino", "Baskerville", "Georgia", serif;
	float: left; 
	font-size: 5em; 
	margin-top: -5px;
	padding-right: 8px; 
	padding-left: 3px; 
	margin-bottom: -5px;
}



div.chapter-ugc > p:first-of-type::first-letter {
  font-family: "Medula One", "Georgia", "Times New Roman", "Times", serif;
  font-size: 3.5em;
  padding-right: 5px;
  margin-right: 0;
  background-color: white;
}

/* COLORS 

h1, h2, h3, h4, h5, h6 {
  color: #9A3257;
}

#title-page > .title:before {
  color: #FFB035;
}

.chapter-title-wrap h2.chapter-title::before {
   color: #FFB035;
}
.firstcharacter {
  color: #9A3257;
}



/* PRESSBOOKS MOBI FALL-BACK STYLESHEET ... OVERRIDES JUST ABOUT EVERYTHING
copyright 2013-2014 Book Oven Inc. 
Version:  2.0 
*/

/* embedded fonts broken = ornament fonts broken, so replace them in KF8 */

@media amzn-kf8 {
   .chapter-title-wrap h2.chapter-title::before {
      content: "";
   }

   .chapter-title-wrap h2.chapter-title::after {
      content: "";
   }
  
   #title-page h1.title::before {
         content: "";
   }
   
   #title-page h1.title::after {
         content: "";
   }
}


/* MOBI, oh how we love you mobi ... */ 

/* publogo begone in mobi ... styling not working */

@media amzn-mobi { 
  
    div.pb-publogo-wrap {
        display: none;
    }
    img.pb-publogo {
        display: none;
    }
    img.pb-publogo-wide {
        display: none;
    }
}

/* toc page styling */

@media amzn-mobi { 
  
   #toc {
      font-style: normal;
      font-weight: normal;
      border: 0px;
      text-align: left;
   }
   #toc h1 {
        font-size: 1em;
        font-style: normal;
        font-weight: normal;    
   }
   span.chapter-author {
        display: none;
   }
   span.chapter-subtitle {
      display: none;
   }
   span.toc-chapter-title {
      font-style: normal;
      font-weight: normal;
      font-size: 0.7em;
       text-align: left;
   }
   li.front-matter {
      font-style: normal;
      font-weight: normal;
      font-size: 0.7em;
   }
   li.part {
      font-weight: bold;
      font-size: 1.1em;
      text-align: left;
      margin-top: 1em;
   }
   li.chapter {
      font-style: normal;
      font-weight: normal;
      font-size: 0.7em;
   }
   li.back-matter {
      font-weight: bold;
      font-size: 1.1em;
      text-align: left;
      margin-top: 1em;
   }
   #toc a {
      font-style: normal;
      font-weight: normal;
   }
   #toc ul .front-matter,
   #toc ul .back-matter {
        font-style: normal;
        font-weight: normal;
        font-size: 0.7em;
   }
   #toc .front-matter {
        font-style: normal;
        font-weight: normal;
        font-size: 0.7em;
   }
   #toc .back-matter {
        font-style: normal;
        font-weight: normal;
        font-size: 0.7em;
   }
   #toc .part {
      font-weight: bold;
      margin-top: 1em;
   }
   #toc li {
       font-style: normal;
       font-weight: normal;
       font-size: 0.7em;
   }
}

/* this ONLY works/is declared in MOBI, ignored in EPUB & PDF */

@media amzn-mobi { 
   .mobi-display-none {
       display:none; 
    }
}
/* standard styling for mobi */

@media amzn-mobi { 

    body {
        font-family: serif;
        font-style: normal;
        font-weight: normal;
    }
    p,
    .ugc p,
    .chapter-ugc p {
        font-family: serif;
        font-style: normal;
        font-weight: normal;
        font-size: 1em;
    }

    .nonindent,
    .no-indent,
    p.nonindent,
    p.no-indent {
        font-size: 1em;
        text-indent: 0;
        margin-top: 0.5em;
        font-family: serif;
        font-style: normal;
        font-weight: normal;
    }

    .indent,
    p.indent {
        font-size: 1em;
        text-indent: 1.5em;
        margin-top: 0em;
        font-family: serif;
        font-style: normal;
        font-weight: normal;
    }

    .front-matter-ugc p.indent,
    .front-matter-ugc p.nonindent,
    .front-matter-ugc p.no-indent {
        font-size: 1em;
        font-family: serif;
        font-style: normal;
        font-weight: normal;
    }
}

/* headers */

@media amzn-mobi { 

    h1 {
        font-weight: bold;
        font-style: normal;
        font-size: 1.4em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        text-align: center;
    }
    h2 {
        font-weight: bold;
        font-style: normal;
        font-size: 1.3em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        text-align: center;
    }   
    h3 {
        font-weight: bold;
        font-style: normal;
        font-size: 1.2em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        text-align: center;
    }
    h4 {
        font-weight: normal;
        font-style: normal;
        font-size: 1.1em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        text-align: center;
    }
    h5 {
        font-weight: bold;
        font-style: normal;
        font-size: 1em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        text-align: center;
    }
    h6 {
        font-weight: normal;
        font-style: normal;
        font-size: 0.9em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        text-align: center;
    }
}
 
 /* blockquotes & textboxes */
 @media amzn-mobi { 

    div.textbox {
      margin: 5%;
    }

    p.bl_nonindent {
        margin-left: 10%;
        text-indent: 0;
        font-size: 0.9em;
        font-weight: normal;
        font-style: normal;
    }
    p.bl_indent {
        margin-left: 10%;
        text-indent: 1.5em;
        font-size: 0.9em;
        font-weight: normal;
        font-style: normal;
    }

    blockquote,
    .blockquote {
        margin-left: 10%;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .ugc.chapter-ugc.textbox {
      border-top: 1px solid black;
      margin-left: 10%;
      padding-left: 10%;
      margin-right: 5%;
      margin-top: 1.5em;
      margin-bottom: 1.5em;
      font-size: 0.9em;
    }

    .ugc.chapter-ugc.textbox p.nonindent,
    .ugc.chapter-ugc.textbox p.indent {
        margin-left: 10%;
        margin-right: 5%;
        font-size: 0.9em;
    }

    ul, ol {
        margin-top: 1em;
        margin-bottom: 1em;
    }
}

/* title page */ 

@media amzn-mobi { 
  
    h1.title {
        font-size: 2em;
        margin-top: 2em;
        font-weight: normal;
        font-style: normal;
    }
    h2.subtitle {
        font-size: 1em;
        font-weight: normal;
        font-style: normal;
    }
    h3.author {
        font-weight: normal;
        font-style: normal;
    }
    h4.publisher {
        font-weight: normal;
        font-style: normal;
    }
    h5.publisher-city {
        font-weight: normal;
        font-style: normal;
    }

}

/* FRONT-MATTER STYLING 
======================= */

@media amzn-mobi { 
  
  #copyright-page {
    margin: 10%;
    font-style: normal;
    font-family: normal;
    text-indent: 0;
  }

  #copyright-page p {
    font-size: 0.875em;
    font-style: normal;
    font-family: normal;
    text-indent: 0;
    margin-bottom: 0.5em;
  }

}

/* chapter titles */

@media amzn-mobi { 

  div.chapter-title-wrap {
      font-size: 1.5em;
      margin-top: 0em;
      margin-bottom: 0em;
    }
  
  h1.front-matter-title {
    font-weight: normal;
    font-style: normal;
    font-size: 1.4em;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
  }
  h3.part-number {
    font-weight: normal;
    font-style: normal;
    font-size: 1.3em;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
  }
  h1.part-title {
    font-weight: normal;
    font-style: normal;
    font-size: 1.4em;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
  }
  h3.chapter-number {
    font-weight: normal;
    font-style: normal;
    font-size: 1.2em;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
  }
  h2.chapter-title {
    font-weight: normal;
    font-style: normal;
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
  }
  h2.chapter-subtitle {
    font-weight: normal;
    font-style: normal;
    font-size: 0.9em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: center; 
  }
  h2.chapter-author {
    font-weight: normal;
    font-style: normal;
    font-size: 0.8em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: center; 
  }
  h1.back-matter-title {
    font-weight: normal;
    font-style: normal;
    font-size: 1.3em;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
   }
 }

 /* Other styling */ 

@media amzn-mobi { 
  ul {
    text-align: right !important;
  }
  ol {
    text-align: right !important;
  }
  li {
    text-align: right !important;
  }
}


div.part-title-wrap > .part-number, div.chapter-title-wrap > .chapter-number { display: none !important; } 

