html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    background: #3d3d3f;
}

#content {
    padding: 10px 20px;
    font-size: 16px;
    max-width: 800px;
    margin: 10px auto;
    font-size: 16px;
    font-family: "Book Antiqua", Georgia, serif;
    text-align: justify;
    line-height: 24px;
    background: white;
    box-shadow: 0 0 10px #000, 0 0 0 1px #000;
    /* border-radius: 10px; */
}

@media (max-width: 875px) {
    #content {
        margin: 5px;
        max-width: auto;
    }
}

main {
    min-height: 500px;
    padding: 0 10px;
}

h1, h2, h3, h4, h5, h6 {
    color: #555;
    padding: 10px;
    margin: 0;
    text-align: center;
    line-height: normal;
}

h1 {
    padding: 15px 10px;
}

.link-group {
    padding: 10px;
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #dde;
    border: 1px solid #dde;
}

.link-group a {
    color: #39f;
    text-decoration: none;
}

.link-group .btn {
    color: #333;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: Arial, 600;
    display: inline-block;
    width: 150px;
    padding: 10px 15px;
    text-align: center;
    background: #f5f5f5;
    box-shadow: 1px 1px 2px #aac, 0 0 0 1px #ccc;
    border-radius: 5px;
}

.link-group .btn:hover {
    background: #ececef;
}

.link-group .btn:active {
    box-shadow: 1px 1px 2px #cce inset, 0 0 0 1px #ccc;
}

@media print {
    #content {
        margin: 0;
        max-width: none;
        box-shadow: none;
    }
    .link-group {
        display: none;
    }
}
