<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,700&display=swap" rel="stylesheet" />
</head>

<body style="background: #f7fafc; padding: 32px; margin: 0">
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
      <td align="center">
        <table width="400" cellpadding="0" cellspacing="0" border="0" style="
              background: #ffffff;
              border-radius: 12px;
              box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
              padding: 32px;
            ">
          <tr>
            <td align="center" style="
                  font-family: 'Roboto Mono', monospace, Arial;
                  color: #333;
                ">
              <div style="
                    margin: 0 0 16px 0;
                    font-size: 18px;
                    font-family: Arial, sans-serif;
                  ">
                Your email verification code is
              </div>
              <div style="
                    margin: 0 auto 24px auto;
                    font-family: 'Roboto Mono', monospace, Arial;
                    font-size: 38px;
                    font-weight: 700;
                    letter-spacing: 8px;
                    color: #276ef1;
                    background: #f0f4ff;
                    border-radius: 8px;
                    padding: 18px;
                    width: 220px;
                    box-shadow: 0 2px 8px rgba(39, 110, 241, 0.06);
                  ">
                {{otp}}
              </div>
              <div style="font-size: 15px; color: #888">
                This code will expire in 5 minutes.
              </div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>