.novel-content-reader {
    font-family: 'Roboto Slab', serif;
    letter-spacing: 0.5px;
    font-size: 16px;
    font-weight: normal;
    text-align: justify;

    h1 {
        margin: 0;
        font-size: 28px;
        line-height: 38px;
        margin-bottom: 25px;
    }
    p {
        margin: 0;
        line-height: 22px;
        margin-bottom: 15px;
    }
}