.novel-content-reader {
  font-family: 'Arbutus+Slab', serif;
  font-weight: 300;
  letter-spacing: 0.5px;
  font-size: 18px;
  font-weight: normal;
  text-align: justify;

  h1 {
    margin: 0 0 25px;
    font-size: 32px;
    line-height: 36px;
  }

  p {
    margin: 0 0 18px;
    line-height: 24px;
    margin-bottom: 18px;
  }

  p + br,
  br + br,
  p > br {
    display: none;
  }
}
