name: Lint pull requests

on:
  push:
    branches:
      - dev
    paths:
      - "sources/_index.json"
  pull_request:
    branches:
      - master
      - dev

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint_test:
    if: github.repository == 'dipu-bd/lightnovel-crawler'
    name: Lint & Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11"]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip wheel setuptools
          pip install -r requirements.txt

      - name: Lint with flake8
        run: |
          pip install flake8
          flake8 -v --count --show-source --statistics

      - name: Build wheel
        run: python setup.py clean bdist_wheel

      - name: Install and test the wheel package
        run: |
          pip install dist/lightnovel_crawler*.whl
          lncrawl --list-sources
